# --- OS & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- NodeJS / JS ---
**/node_modules/
**/coverage/
npm-debug.log*

# --- OpenTofu / Terraform (Très important) ---
# Ignore tous les exécutables tofu ou terraform
**/tofu.exe
**/terraform.exe
# Ignore les dossiers de plugins (très lourds)
**/.terraform/
# Ignore les fichiers d'état (peuvent contenir des secrets)
*.tfstate
*.tfstate.backup
**/.terraform.lock.hcl

# --- Environnement ---
.env